@charset UTF-8;
*{
-webkit-tap-highlight-color: transparent;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none; 
}
html{
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
}
body{  
	width: 100%;
	min-height: 100vh;
	position: relative;
	background: transparent;  
	margin: 0;
	padding: 0;
	font-family: "微软雅黑",arial;
}
.top{
	position: relative;
	width: 100vw;
	height: 13.4vw;
	background: url(http://img.tugou.com/mb/images/m_index/top.jpg) no-repeat;
    background-size: 100%;
}
.top .position{
	position: absolute;
    height:100%;
    right: 3.6vw;
    top:0;
    font-size:3.8vw ;
    line-height: 13.4vw;
    color: #707070;
}
.top .position > img{
	position: absolute;
	top: 0;
	right: 100%;
	height: 100%;
	margin: 0 1.8vw 0 0;
}
.contentImg{
	position: relative;
	width: 100%;
	/*border-width:0 0 .05rem 0;
	border-color: #d9d9d9;
	border-style: solid;*/
}
.contentImg > img{
	display: block;
	position: relative;
	width: 100%;
	top: 0;
}
.title{
	position: relative;
	width: 100%;
	height: 15.4vw;
	line-height: 15.4vw;
	text-align: center;
	font-size: 5vw;
}
.apointmentForm{
	display: block;
	position: relative;
	width: 89vw;
	/*height: 64.3vw;*/
	left: 5.5vw;
}
.apointmentForm > input,
.apointmentForm > select{
	display: block;
	position: relative;
	width: 100%;
	font-size: 3.8vw;
	font-family: "微软雅黑",Arial;
	-webkit-appearance: none;
	/*letter-spacing: 0.4vw;*/
	outline: none;
	 box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
}
.apointmentForm #area{
	height: 12.5vw;
	line-height: 12.5vw;
	padding: 0 0 0 6.2vw;
	color: #bfbfbf;
	border: 1px solid #E5E5E5;
	border-width: 1px 1px 0 1px;
}
.apointmentForm #phoneNum{
	height: 12.5vw;
	line-height: 12.5vw;
	padding: 0 0 0 6.2vw;
	color: #bfbfbf;
	border: 1px solid #E5E5E5;
	border-width: 1px 1px 0 1px;
}
.apointmentForm #budget{
	height: 12.5vw;
	line-height: 12.5vw;
	padding: 0 0 0 6.2vw;
	color: #bfbfbf;
	border: 1px solid #E5E5E5;
	border-width: 1px 1px 0 1px;
	color: #565656;
}
.apointmentForm #city{
	height: 12.5vw;
	line-height: 12.5vw;
	padding: 0 0 0 6.2vw;
	color: #bfbfbf;
	border: 1px solid #E5E5E5;
	color: #565656;
}
.apointmentForm #entirety{
	height: 12.5vw;
	background-color: #0dd196;
	font-size: 5.6vw;
	line-height: 12.5vw;
	text-align: center;
	color: #fffb00;
	margin: 2.1vw 0 0 0;
	outline: none;
	border: none;
}
.proNum{
	position: relative;
	width: 100%;
	height: 12.5vw;
	line-height: 12.5vw;
	text-align: center;
	color: #7d7d7d;
	font-size: 3.7vw;
}
.proNum > i{
	font-style: normal;
	color: #009973;
}
.apointmentForm .budgetIcon{
	position: absolute;
	width: 3.2vw;
	right: 3.5%;
	height: 12.5vw;
	top: 25vw;
	background: url(http://img.tugou.com/mb/images/m_index/icon.png) no-repeat center center;
	background-size: 100% auto;
	z-index: 90;
}
.apointmentForm .cityIcon{
	position: absolute;
	width: 3.2vw;
	right: 3.5%;
	height: 12.5vw;
	top: 37.5vw;
	background: url(http://img.tugou.com/mb/images/m_index/icon.png) no-repeat center center;
	background-size: 100% auto;
	z-index: 90;
}
#hotLine{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 9vw;
		 box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #E5E5E5;
  z-index: 999;
}
#hotLine > a{
	position: absolute;
	width: 100%;
	height: 100%;
	text-decoration: none;
	line-height: 9vw;
	text-align: center;
	background-color: #FFFFFF;
	color: #009973;
	border: none;
}
.imgPart{
	position: relative;
	width: 100%;
}
.imgPart > img{
	display: block;
	position: relative;
	width: 100%;
}
#box{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	width: 100%;
	height: 100000px;
	background:rgba(0, 0, 0, 0.6)!important;
	background:#000;
	filter:Alpha(opacity=60);
}
.box-con{
	position: fixed;
	left: 17.2vw;
	top: 3.5vh;
	background: url(http://img.tugou.com/mb/images/m_index/box.png) no-repeat;
	background-size: 100%;
	width: 65.6vw;
	height: 40.9vw;
	padding:42.2vw 0 0 0; 
}
#close-box{
	width: 5.4;
	height: 5.4;
	position: absolute;
	right: 0;
	top: 0;
}
.box-title{
	text-align: center;
	font-size: 7.6vw;
	color: #009973;
	line-height: 6vw;
}
.box-text{
	text-align: center;
	font-size: 3.8vw;
	line-height: 4.6vw;
	color: #444444;
	margin: 0;
}
.box-time{
	font-size: 0.55rem;
	text-align: center;
	color: #ffb035;
}
#alert{
	border-radius: 0.7vw;
	text-align: center;
	width: 50%;
	height: 6.3vw;
	line-height: 6.3vw;
	font-size: 3.8vw;
	color: #FFFFFF;
	position: fixed;
	left: 25%;
	bottom: 2vw;
	z-index: 999;
	background:rgba(0, 0, 0, 0.8)!important;
	background:#000;filter:Alpha(opacity=80);
}
